<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
		           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}			
		{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}			
			{{ encore_entry_script_tags('app') }}
			{{ encore_entry_script_tags('admin') }}
		{% endblock %}
	</head>
	<body>


		<div class="container">

			{{ include("menu.html.twig") }}

			{# pour accéder aux messages flash, j'utilise la variable app.flashes #}
			{% for type, messages in app.flashes %}
				{% for msg in messages %}
                <div class="alert alert-{{ type }}">
                {{ msg }}
                </div>
                {% endfor %}
			{% endfor %}

			<h1>
				{% block h1 %}
					Bienvenue à la bibilothèque !
				{% endblock %}
			</h1>

			{% block body %}
				page d'accueil
				<p>Nombre =
					{{nombre is defined ? nombre :"" }}
				</p>
				{# utilisation d'un test pour mettre une valeur nombre par défault #}
				<p>Nombre =
					{{nombre|default("non défini")}}
				</p>
				{# utilisation d'un filtre pour mettre une valeur nombre par défault #}
				<p>Prénom =
					{{prenom}}
				</p>
			{% endblock %}

			{% block footer %}
				<br>
				<footer><p>Ceci est le footer</p></footer>
			{% endblock %}
		</div>


	</body>
</html>


{# COMMENTAIRES

{% %} : balise twig
{{ }} : balise twig qui correspond à <?= ?>
Les noms

 #}
